<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="triangle">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.051745 -0.0091967 -0.06306"
        rpy="0 0 0" />
      <mass
        value="0.1019" />
      <inertia
        ixx="5.536E-05"
        ixy="-2.3413E-09"
        ixz="-1.0567E-09"
        iyy="0.00019641"
        iyz="9.0441E-07"
        izz="0.0002259" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="reaction_wheel">
    <inertial>
      <origin
        xyz="0.051515 0.019631 0.060459"
        rpy="0 0 0" />
      <mass
        value="0.058143" />
      <inertia
        ixx="1.3156E-05"
        ixy="-1.2406E-07"
        ixz="4.1816E-08"
        iyy="1.2981E-05"
        iyz="7.252E-08"
        izz="1.5356E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/reaction_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="meshes/reaction_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="reaction_wheel_joint"
    type="revolute">
    <origin
      xyz="0 0 0"
      rpy="-1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="reaction_wheel" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>